@import "variables";

.document-card {
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: block;
    background: $body-bg;

    &__title {
        word-break: break-all;
        display: block;
        text-align: center;
    }

    &__text {
        text-align: right;
        max-height: 200px;
        overflow: auto;
        background: white;
        border-radius: 20px;
    }

    &__icon {
        display: block;
        margin: 20px auto;
        text-align: center;
        font-size: 100px;
        color: $primary;
    }

    &__date {
        display: block;
        text-align: right;
    }
}

.document-image {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}
.document-image-zoom {
    &:hover {
        cursor: zoom-in;
    }
}

.document-text {
    text-align: right;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 20px;

    &__card {
        padding-right: 1rem;
    }
}

.btn-primary {
    &:hover, &:active, &:focus {
        background-color: #6777EF !important;
        border: none;
    }
}

.btn-icon {
    color: #212529;
    background-color: #E5E7FB;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #6777EF;
    color: #6777EF;
}
a {
    color: #6777EF;
}
a:hover {
    color: #505dbc;
    text-decoration: underline;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #6777EF;
}

#sidebar {
    a:hover {
        text-decoration: none;
    }
}

#sidebar .nav-main-item .nav-main-link[aria-expanded=false]::after {
    content: "\F0D7";
    font-family: "Font Awesome 5 Free";
    display: inline;
    text-align: right;
    padding-left: 5px;
    font-weight: 900;
}

#sidebar .nav-main-item .nav-main-link[aria-expanded=true]::after {
    content: "\F0D8";
    font-family: "Font Awesome 5 Free";
    display: inline;
    text-align: right;
    padding-left: 5px;
    font-weight: 900;
}

.block-footer a:hover {
    text-decoration: none;
    color: #fff;
}
