@charset "UTF-8";

body {
    overflow-x: hidden;
}

.document-card {
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: block;
    background: #f5f8fa;
}

.document-card__title {
  word-break: break-all;
  display: block;
  text-align: center;
}

.document-card__text {
  text-align: right;
  max-height: 200px;
  overflow: auto;
  background: white;
  border-radius: 20px;
}

.document-card__icon {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 100px;
  color: #6777EF;
}

.document-card__date {
  display: block;
  text-align: right;
}

.document-image {
  max-height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.document-image-zoom:hover {
  cursor: zoom-in;
}

.document-text {
  text-align: right;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 20px;
}

.document-text__card {
  padding-right: 1rem;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #6777EF !important;
  border: none;
}

.btn-icon {
  color: #212529;
  background-color: #E5E7FB;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #6777EF;
  color: #6777EF;
}

a {
  color: #6777EF;
}

a:hover {
  color: #505dbc;
  text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #6777EF;
}

#sidebar a:hover {
  text-decoration: none;
}

#sidebar .nav-main-item .nav-main-link[aria-expanded=false]::after {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 5px;
  font-weight: 900;
}

#sidebar .nav-main-item .nav-main-link[aria-expanded=true]::after {
  content: "\F0D8";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 5px;
  font-weight: 900;
}

.block-footer a:hover {
  text-decoration: none;
  color: #fff;
}

.pr-280 {
  transition: padding-right 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .pr-280 {
    padding-right: 0 !important;
  }
}

.sidebar-hidden .pr-280 {
    padding-right: 0 !important;
}

.sidebar-hidden #sidebar {
    transform: translateX(200%);
}

.block-item {
    margin-bottom: 30px;
}

.ui-datepicker {
    z-index: 1001;
}

.datepicker {
    z-index: 1033;
}

tr[data-href] {
    cursor: pointer;
}

